#cycler{position:relative;}
#cycler img {position:absolute;z-index:1}

#cycler img.active{z-index:3}

#mephotos{position:initial;top:auto;}

#footer{
	position:fixed;
	bottom:0px;
	width:100%;
	background:#222;
	}

nav#navbar {
	background:#222 !important;
}

div#mephotos {
	position:relative;
	clear:both;
	z-index:3;
}

#selfpic {
	border-style: solid;
    border-width: 2px;
	border-color: #222;
	margin:30px;
	box-shadow: 10px 10px 5px #888888;
}

#selfpic2 {
	border-style: solid;
	visibility:hidden;
    border-width: 2px;
	border-color: #222;
	margin:30px;
	box-shadow: 10px 10px 5px #888888;
}

#selfpic3 {
	border-style: solid;
    border-width: 2px;
	visibility:hidden;
	border-color: #222;
	margin:30px;
	box-shadow: 10px 10px 5px #888888;
}

#aboutme {
	background: #bbb;
}

#bio {
	background:#eee;
	padding:15px;
	
}

#desc {
	margin-top:30px;
	margin-right:10px;
	padding:5px;
}

html {
	background:#ddd;